body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
}

.container {
    max-width: 800px;
    margin: 20px auto;
    background: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

header {
    text-align: center;
    background-color: #1F509A;
    color: white;
    padding: 10px 0;
    border-radius: 8px 8px 0 0;
}

.profile {
    text-align: center;
    margin: 20px 0;
}

.profile-img {
    width: 150px;
    height: 150px;
    border-radius: 50%;
}

.story, .personal-info {
    margin: 20px 0;
}

h3 {
    color: #333;
}

ul {
    list-style-type: none;
    padding: 0;
}

.social {
    display: inline-block;
    margin: 5px;
    padding: 10px 15px;
    /* background-color: #4CAF50; */
    color: white;
    text-decoration: none;
    border-radius: 5px;
}
